@model Library_Management_System_C.Models.Borrower

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutCrud.cshtml";
}

<h1>Edit</h1>

<h4>Borrower</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="borrowerId" />
            <div class="form-group">
                <label asp-for="borrower_fname" class="control-label"></label>
                <input asp-for="borrower_fname" class="form-control" />
                <span asp-validation-for="borrower_fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="borrower_lname" class="control-label"></label>
                <input asp-for="borrower_lname" class="form-control" />
                <span asp-validation-for="borrower_lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="borrower_Course" class="control-label"></label>
                <input asp-for="borrower_Course" class="form-control" />
                <span asp-validation-for="borrower_Course" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="borrower_PhoneNumber" class="control-label"></label>
                <input asp-for="borrower_PhoneNumber" class="form-control" />
                <span asp-validation-for="borrower_PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="borrower_Email" class="control-label"></label>
                <input asp-for="borrower_Email" class="form-control" />
                <span asp-validation-for="borrower_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_registered" class="control-label"></label>
                <input asp-for="date_registered" class="form-control" />
                <span asp-validation-for="date_registered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
